---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
    exclude: yes
---

$base-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$base-background-colour: #f0f0f0;
$white: #fff;
$light-grey: #eee;
$dark-grey: #999;
$dark-slate-grey: #333;

body {
    font-family: $base-font-family;
    background-color: $base-background-colour;
}

.wrap {
    background: $white;
    padding-bottom: 2.5em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0 ,0.2);
    margin-top: 3em;
    margin-bottom: 3em;
}

.wrap-form {
    padding-bottom: 1em;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0 ,0.5);
    background: $light-grey;
    margin-bottom: 2em;
}

h1 {
    font-weight: bold;
    font-size: 3em;
}

p {
  line-height: 1.5;
  font-size: 1.1em;
}

.landing-content {
    margin-top: 40px;
}

.confirm-panel {
    background: $light-grey;
    color: $dark-grey;
}

.active-panel {
    background: $white;
    color: $dark-slate-grey;
    border: .3125em solid $light-grey;
}

.signup-form {
    h3 {
        margin-bottom: 20px;
    }
    .privacy {
        color: $dark-grey;
        font-size: 1em;
    }
}

.author {
    font-size: 0.8em;

    p {
        color: $dark-grey;
        margin: 4px 0;
    }

    img {
        margin-top: 10px;
    }
}

.highlight {
    background-color: #ffc9c1;
}

blockquote {
    color: #000;
    background-color: #fffacc;
    border-left: 5px solid #fffa88;
    padding: 10px 20px;
    font-size: 1.0em;
}