<article class="my-4 w-full pb-4 grid grid-cols-1 md:grid-cols-4 group">
    <div class="w-full col-span-1 md:col-span-2 md:px-4">
        <div>
        {% if article.data.headerImage %}
            <a href="{{article.url}}" title="{{article.data.title}}" alt="{{article.data.title}}" class="block pb-4 {{theme.article.image.hover}}">
                {% image article.data.headerImage article.data.title "rounded-md shadow-md w-full bg-white" %}
            </a>
        {% endif %}
        </div>
    </div>

<div class="col-span-1 md:col-span-2 px-0 md:px-4">
    <div>
    {% if article.url %}
        <a href="{{article.url}}" class="w-full">
            <h2 class="text-2xl md:text-3xl font-extrabold {{theme.article.text.title}} {{theme.article.text.hover}} pb-1">{{ article.data.title }}</h2>
        </a>
    {% else %}
        <h2 class="text-2xl md:text-3xl {{theme.article.text.title}} pb-1">{{ article.data.title }}</h2>
    {% endif %}
    {% render partials/articles/articleDate.html article:article theme:theme %}
    {% if article.data.subtitle %}
    <h3 class="text-lg md:text-xl pb-4">
        {{article.data.subtitle}}
    </h3>
    {% endif %}
    </div>

    {% if article.data.description %}
        <div class="font-normal text-xl md:text-2xl">
            {{article.data.description | markdownify}}
        </div>
    {% endif %}
</div>
</article>
