<article class="w-full grid grid-cols-8 gap-4 group">
    <div class="hidden col-span-1 justify-center items-center md:flex">
        <a href="{{article.url}}" class="{{theme.article.image.hover}}">
            <img src="{{article.data.headerImage}}" alt="{{article.data.title}}" class="rounded-md shadow-lg bg-white h-32 aspect-square object-cover" width="256">
        </a>
    </div>
    <div class="col-span-8 md:col-span-7">
        <a href="{{article.url}}" class="{{theme.article.text.hover}}">
            <h2 class="text-2xl font-bold tracking-tight">{{article.data.title}}</h2>
        </a>
        {% render partials/articles/articleDate.html article:article theme:theme %}
        {%- if article.data.excerpt -%}
        <p class="font-normal text-gray-700 dark:text-gray-400">{{article.data.excerpt | markdownify}}</p>
        {%- else -%}
        {%- if article.data.description -%}
        <p class="font-normal text-gray-700 dark:text-gray-400">{{article.data.description | markdownify}}</p>
        {%- endif -%}
        {%- endif -%}
    </div>
</article>
