---
---

<!DOCTYPE html>
<html lang="en" itemtype="http://schema.org/Article">

{% include partials/head.html %}

<body class="font-sans bg-blue-600 antialiased">
    <div class="flex flex-col justify-center items-center space-y-10 px-2 pb-10">
        <div class="flex flex-col justify-center items-center pt-8">
            <img src="/images/me/marc-littlemore-512x512.jpg" class="shadow-lg rounded-full w-20 h-20" alt="avatar">
            <h1 class="text-2xl font-semibold text-white py-4">
                <a href="/" title="Marc Littlemore" alt="Marc Littlemore" class="hover:underline">Marc Littlemore</a>
            </h1>
        </div>

        <div class="text-xl font-medium text-center space-y-8">
            {% for bioItem in biography %}
            <article class="bg-white px-8 py-4 rounded-md shadow-lg hover:bg-gray-300">
                <div class="">
                    <a href="{{ bioItem.url }}" target="_blank" rel="noreferrer" title="{{ bioItem.title }}" alt="{{ bioItem.title }}" class="space-x-2">
                        {% if bioItem.icon %}
                        <i class="fa {{bioItem.icon}}"></i>
                        {% endif %}
                        <span>{{bioItem.title}}</span>
                    </a>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</body>
</html>
