---
scripts:
    - "/js/bundle.js"
---
<!DOCTYPE html>
<html lang="en" itemtype="http://schema.org/Article">

{% include partials/head.html %}

<body class="{{theme.page.background}} {{theme.page.text.content}} {{theme.page.font}}">
    <div class="container mx-auto px-4">

        {% include partials/nav.html %}
    </div>

    <div class="container max-w-screen-lg mx-auto px-4">
        <main class="py-4">
            <section class="flex flex-col flex-wrap items-center">
                <div class="mb-0 sm:mb-8 max-w-screen-lg bg-white grid grid-cols-1 sm:grid-cols-2 items-center content-center">
                    <div class="w-full sm:w-5/6 px-0 sm:px-8">
                        <h1 class="text-4xl lg:text-5xl font-extrabold tracking-tight {{theme.page.text.title}} text-center sm:text-left">
                            {{subtitle}}
                        </h1>
                    </div>
                    <div class="w-full">
                        {% image "/images/me/marc-littlemore-outside.jpg" "Marc Littlemore" "my-4 sm:my-0 shadow-lg rounded-md" false %}
                    </div>
                </div>
        
                <section id="main-content" class="max-w-screen-lg mx-auto py-8">
                    <div class="{{theme.page.text.content}} space-y-10 prose prose-2xl">
                        {{content}}
                    </div>
                </section>
            </section>
        </main>
    </div>

    <div class="{{theme.page.sectionDark.background}} py-8">
        <div class="container max-w-screen-lg mx-auto px-4 flex flex-row flex-wrap justify-center">
            <h2 class="{{theme.page.sectionDark.text.title}} text-3xl sm:text-4xl font-bold pb-4 sm:pb-8 uppercase">Latest posts</h2>
            <div class="container max-w-screen-lg mx-auto px-4 flex flex-row flex-wrap justify-center">
                {% assign latestPosts = collections.post | reverse %}
                {% for post in latestPosts limit: 2 %}
                    {% include partials/card.html, image: post.data.headerImage, title: post.data.title, text: post.data.description, url: post.url %}
                {% endfor %}
            </div>
            <div class="py-2 sm:py-4">
                <a href="/articles/" title="See all articles" alt="See all articles" class="{{theme.page.sectionDark.text.link}} font-medium text-xl sm:text-2xl uppercase hover:text-gray-200 hover:underline">
                    See all articles
                </a>
            </div>
        </div>
    </div>

    <section class="max-w-screen-xl mx-auto py-0 xl:py-8">
        {% include partials/newsletter.html %}
    </section>
        

    <div class="{{theme.page.sectionLight.background}} py-8">
        <div class="container max-w-screen-lg mx-auto px-4 flex flex-row flex-wrap justify-center">
            <h2 class="{{theme.page.sectionLight.text.title}} text-3xl sm:text-4xl font-bold pb-4 sm:pb-8 uppercase">Featured</h2>
            <div class="container max-w-screen-lg mx-auto px-4 flex flex-row flex-wrap justify-center">
                {% for path in featured %}
                    {% assign cardPost = collections.all | getPostByPath: path %}
                    {% include partials/card.html, image: cardPost.data.headerImage, title: cardPost.data.title, text: cardPost.data.description, url: cardPost.url %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% include partials/footer.html %}
</body>

</html>
