---
scripts:
    - "/js/bundle.js"
---

<!DOCTYPE html>
<html lang="en" itemtype="http://schema.org/Article">

{% include partials/head.html %}

<body class="{{theme.page.background}} {{theme.page.text.content}} {{theme.page.font}}">

{%- include partials/social/facebookSDK.html -%}

<div class="{{theme.landingpage.header.background}} pb-4 sm:pb-32">
    <div class="container mx-auto px-4 max-w-screen-md">
        <div class="relative">
            <section class="flex flex-col md:flex-row justify-center items-center py-0 md:py-8">
                <div class="px-4 py-4 w-full md:w-7/12">
                    <h1 class="{{theme.landingpage.text.title}} text-4xl text-center sm:text-left">{{ landingpage.subtitle | markdownify}}</h1>
                </div>
                <div class="py-4 w-full md:w-5/12">
                    <img src="{{landingpage.image}}" class="w-full object-fill h-3/4 shadow-lg">
                </div>
            </section>
        </div>
    </div>
</div>
<div class="relative">
    <section class="flex justify-center items-center -mt-0 sm:-mt-16">
        {% include partials/signUpForm.html %}
    </section>
</div>

<div class="{{theme.landingpage.background}}">
    <section class="container mx-auto px-4 py-16 max-w-screen-md prose prose-2xl flex flex-col items-center">
        {{content}}

        <a href="#signup-form">
            <button class="{{theme.landingpage.form.button}} mt-8 text-2xl py-4 px-8 rounded space-x-4">
                {% if landingpage.button.icon %}<i class="fa {{landingpage.button.icon}}"></i>{% endif %}&nbsp;&nbsp;{{ landingpage.button.text }}
            </button>
        </a>
    </section>
</div>

</body>
</html>
