---
scripts:
    - "/js/bundle.js"
---

<!DOCTYPE html>
<html lang="en" itemtype="http://schema.org/Article">

{% include partials/head.html %}

<body class="{{theme.confirmationPage.background}} {{theme.page.text.content}} {{theme.page.font}}">

{%- include partials/social/facebookSDK.html -%}

<div class="py-20">
    <article class="{{theme.confirmationPage.card.background}} px-8 py-16 max-w-screen-xl mx-auto shadow-lg rounded-md">
        <div class="text-center text-2xl space-y-4">
            <h1 class="{{theme.confirmationPage.card.text.title}} uppercase">{{ landingpage.title }}</h1>
            <h2 class="{{theme.confirmationPage.card.text.subtitle}}">{{ landingpage.subtitle }}</h2>
            <h3 id="timer" class="{{theme.confirmationPage.card.text.timer}} text-center text-3xl py-4">05:00</h3>
        </div>
    
        <div class="{{theme.confirmationPage.card.timer.background}} relative w-full h-8 rounded-2xl mb-8">
            <div id="progressTimer" class="{{theme.confirmationPage.card.timer.main}} absolute w-full h-full rounded-2xl" style="width:100%;"></div>
            <span class="sr-only hidden" id="progressBarScreenReader">0% Complete</span>
        </div>
        
        <div class="flex flex-col sm:flex-row justify-center w-full text-lg border-4 rounded-md shadow-sm">
            <div class="{{theme.confirmationPage.card.step.completed}} font-medium text-center w-full sm:w-1/3 space-y-4 py-8 px-4">
                <h4 class="uppercase font-bold">Step 1</h4>
                <svg xmlns="http://www.w3.org/2000/svg" class="block mx-auto w-20 h-20 fill-current" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                <p class="uppercase">Sign up completed!</p>
            </div>
            <div class="{{theme.confirmationPage.card.step.selected}} font-medium text-center w-full sm:w-1/3 space-y-4 py-8 px-4">
                <h4 class="uppercase font-bold">Step 2</h4>
                <svg xmlns="http://www.w3.org/2000/svg" class="{{theme.confirmationPage.card.step.icon}} block mx-auto w-20 h-20" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
                <p class="uppercase">Go to your inbox and click the confirmation link I just emailed you.</p>
            </div>
            <div class="{{theme.confirmationPage.card.step.completed}} font-medium text-center w-full sm:w-1/3 space-y-4 py-8 px-4">
                <h4 class="uppercase font-bold">Step 3</h4>
                <svg xmlns="http://www.w3.org/2000/svg" class="block mx-auto w-20 h-20 fill-current" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-167l80 80c9.4 9.4 24.6 9.4 33.9 0l80-80c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-39 39V184c0-13.3-10.7-24-24-24s-24 10.7-24 24V318.1l-39-39c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9z"/></svg>
                <p class="uppercase">You'll get instant access to my content.</p>
            </div>
        </div>
    </article>
</div>

</body>
</html>

