<div class="author">
    <div class="row">
        <div class="col-md-1">
            <img src="/images/me/marc-littlemore-64x64.jpg" title="Marc Littlemore" alt="Marc Littlemore" class="img-circle" />
        </div>
        <div class="col-md-10">
            <h5>About The Author</h5>
            <p>Hello! I’m Marc Littlemore. I’m a principal software engineer and full-stack JavaScript and Node developer at the BBC and a veteran of the video games industry with over 18 years of games programming experience. I want to help you to learn how to code</p>
        </div>
    </div>
</div>