<div class="author">
    <div class="row">
        <div class="col-md-1">
            <img src="/images/me/marc-littlemore-64x64.jpg" title="Marc Littlemore" alt="Marc Littlemore" class="img-circle" />
        </div>
        <div class="col-md-10">
            <h4>About Me</h4>
            <p>Hello! I’m Marc Littlemore. I’m a Principal Software Engineer and full-stack JavaScript and Node developer at the BBC. I'm also a veteran of the videogames industry with over 18 years of C/C++ games programming experience. I'm a Test Driven Development (TDD) evangelist and I love to talk about testing, and want to help to teach people how to fully test their JavaScript code.</p>
        </div>
    </div>
</div>