<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:title" content="{{ page.title }}" />

{%if page.description %}
<meta property="og:description" content="{{ page.description }}" />
{% else %}
<meta property="og:description" content="{{ page.subtitle }}" />
{% endif %}

<meta property="og:image" content="{{ site.url }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}" />
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_GB" />
