<header class="bg-black-70 fixed w-100 ph2 pv2 pv2-ns ph3-m ph4-l" style="z-index:100;">
    <nav class="fw6 ttu tracked tr-ns">
        <a class="f5 f6-ns link dib white dim mr3 mr4-ns rotate-90 dn-l" href="#" id="navButton">|||</a>
        <div class="db dn-m" id="navLinks">
            <a class="f5 f6-ns link dim white db dib-l mr3" href="/" title="Home">Home</a>
            {% for page in site.data.mainmenu %}
                {% if page.name %}
                    {% if page.hide == null %}
                        <a class="f5 f6-ns link dim white db dib-l mr3" href="{{ page.url | prepend: site.baseurl }}" title="{{ page.title }}">{{ page.name }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </nav>
</header>

<script>
window.onload = function() {
    document.getElementById('navButton').onclick = function () {
        var navLinkClass = document.getElementById('navLinks').classList;
        if (navLinkClass.contains('db')) {
            navLinkClass.remove('db');
            navLinkClass.remove('dn-m');
            navLinkClass.add('dn');
        } else {
            navLinkClass.add('db');
            navLinkClass.add('dn-m');
        }
        console.log(navLinkClass);
    };
}
</script>