<div class="mw8 center pt2 tc">
    <h1 class="f1-ns f3 black fw6 mt2 mb0">
        {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    </h1>
    {% if page.subtitle %}
    <h2 class="f3-ns f5 fw4 lh-copy gray mt1">{{ page.subtitle }}</h2>
    {% endif %}
  </div>

<img src="{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}" title="{{page.title}} - {{page.subtitle}}" alt="{{page.title}} - {{page.subtitle}}" class="" />

<section class="mw8 pa3 mw8-ns ph5-ns center">
  <div class="roboto lh-copy f4-ns f5">
    {{ content }}
  </div>

  <div id="comments">{% include social/disqusComments.html %}</div>
</section>
