<div class="signup-header">
    <h3 class="form-title text-center">{{ include.sharing.title }}</h3>

    <p>{{ include.sharing.description }}</p>

    <a class="btn btn-secondary btn-block facebook-colour fb-xfbml-parse-ignore" href="https://www.facebook.com/sharer/sharer.php?u={{ include.sharing.facebook | url_encode}}&amp;src=sdkpreparse" alt="Share On Facebook" title="Share On Facebook" target="_blank"><i class="fa fa-facebook-official"></i> Share On Facebook</a>

    <a class="btn btn-secondary btn-block twitter-colour" href="https://twitter.com/intent/tweet?text={{ include.sharing.twitter | url_encode }}" alt="Share On Twitter" title="Share On Twitter" target="_blank"><i class="fa fa-twitter-square"></i> Share On Twitter</a>

    <p></p>
</div>
