<div id="signup-form" class="pv1 ph3 shadow-4">
    <h3 class="tc f3">{{include.landingpage.signup.title}}</h3>

    <form class="" action="//{{ include.landingpage.signup.listname }}.us1.list-manage.com/subscribe/post?u={{include.landingpage.signup.uuid}}&amp;id={{include.landingpage.signup.lid}}" role="form" method="POST" id="#">
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="{{ include.landingpage.signup.botValue }}" tabindex="-1" value="">
        </div>

        <div class="measure-wide">
            <input class="input-reset ba b--black-20 pa2 mb2 db w-100" name="FNAME" id="name" type="text" placeholder="First name" required />
            <input class="input-reset ba b--black-20 pa2 mb2 db w-100" name="EMAIL" id="email" type="email" placeholder="Email address" required />
        </div>

        <button type="submit" class="f4 f3-ns f4-m link dim br3 bn ph5 pv3 ma2 ma3-ns ma1-m  dib bg-blue white">
            {% if include.landingpage.button.icon %}<i class="fa {{include.landingpage.button.icon}}"></i>{% endif %}&nbsp;&nbsp;{{ include.landingpage.button.text }}
        </button>

        <p class="tc gray f6"><i class="fa fa-lock"></i> {{include.landingpage.signup.privacy}}</p>
    </form>
</div>
