{% assign pageDescription = page.subtitle %}
{%if page.description %}
{% assign pageDescription = page.description %}
{% endif %}

{% assign imageUrl = site.header-img %}
{% if page.header-img %}
{% assign imageUrl = page.header-img %}
{% endif %}

<!-- Open Graph -->
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ pageDescription }}" />

<meta property="og:image" content="{{ site.url }}/{{ imageUrl }}" />
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_GB" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{ page.title }}">
<meta itemprop="description" content="{{ pageDescription }}">
<meta itemprop="image" content="{{ site.url }}/{{ imageUrl }}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{site.twitterUsername}}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ pageDescription }}">
<meta name="twitter:creator" content="@{{site.twitterUsername}}">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="{{ site.url }}/{{ imageUrl }}">
