<div class="{{theme.newsletterForm.background}} shadow-lg px-2 flex flex-col justify-center items-center w-full mx-auto py-8 not-prose">

{% if formTitle %}
<h2 class="{{theme.newsletterForm.text.title}} font-semibold text-2xl sm:text-4xl text-center my-0 py-0">
{{formTitle | markdownify}}
</h2>
{% endif %}

{% if formText %}
<div class="text-center w-2/3 py-6 text-base sm:text-lg">
    {{formText | markdownify}}
</div>
{% endif %}

<form action="https://emailoctopus.com/lists/{{ emailOctopus.listId }}/members/embedded/1.3s/add"
    method="post"
    data-message-success="Thanks for subscribing!"
    data-message-missing-email-address="Your email address is required."
    data-message-invalid-email-address="Your email address looks incorrect, please try again."
    data-message-bot-submission-error="This doesn't look like a human submission."
    data-message-consent-required="Please check the checkbox to indicate your consent."
    data-message-invalid-parameters-error="This form has missing or invalid fields."
    data-message-unknown-error="Sorry, an unknown error has occurred. Please try again later."
    class="emailoctopus-form"
    data-sitekey="{{emailOctopus.siteKey}}"
>
<div class="w-5/6 sm:w-full mx-auto flex flex-col justify-center space-y-4">
    <label class="block" for="field_0">
        <span class="text-base font-semibold">Email address</span>
        <input class="{{theme.newsletterForm.input.background}} mt-1 block w-full rounded-md shadow-sm" id="field_0" name="field_0" type="email" placeholder="your-name@domain.com" required />
    </label>
    <label class="block" for="field_1">
        <span class="text-base font-semibold">First name</span>
        <input class="{{theme.newsletterForm.input.background}} mt-1 block w-full rounded-md shadow-sm" id="field_1" name="field_1" type="text" placeholder="First name" required />
    </label>

<input type="hidden" name="field_6" id="field_6" value="@@SIGNUP_INFO@@">

<input name="field_4" type="hidden" value="{{page.url}}">

<div class="emailoctopus-form-row-consent pt-4">
<label class="inline-flex items-center space-x-4" for="consent">
<input
    type="checkbox"
    class="{{theme.newsletterForm.checkbox.background}} rounded"
    checked=""
    id="consent"
    name="consent"
>
<span class="ml-2 text-base md:text-lg">I consent to receiving your weekly newsletter.</span>
</label>
</div>

<div class="emailoctopus-form-row-hp">
    <input type="text" name="{{emailOctopus.botKey}}" tabindex="-1" autocomplete="nope" class="absolute -left-96" aria-hidden="true">
</div>
<input type="hidden" name="successRedirectUrl" value="{{site.url}}{{emailOctopus.thankYouPagePath}}">

<div id="email-messages">
    <div class="{{theme.newsletterForm.message.error}} emailoctopus-error-message font-medium text-center"></div>
</div>

<button type="submit" class="{{theme.newsletterForm.message.button}} mt-8 text-xl py-4 px-8 rounded space-x-4 uppercase">
<svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-8 h-8 fill-current" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
<span>Sign up</span>
</button>

<div class="italic text-xs sm:text-sm text-center">
    I hate spam as much as you do: your email address will never be shared.
</div>
<div class="italic font-bold text-xs sm:text-sm text-center">
    You can unsubscribe at any time.
</div>

</div>
</form>

<div class="emailoctopus-rewards pt-4 italic font-light text-sm md:text-base">
Powered by
<a
href="https://emailoctopus.com/?urli=7tKjm&amp;utm_medium=user_referral&amp;utm_source=builder"
target="_blank"
rel="noreferrer"
class="{{theme.newsletterForm.text.link}}}"
>
EmailOctopus
</a>
</div>

</div>

<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.6/form-recaptcha.js"></script>
<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.6/form-embed.js"></script>
