---
scripts:
    - "/js/bundle.js"
---
<!DOCTYPE html>
<html lang="en" itemtype="http://schema.org/Article">

{% include head.html %}

<body class="avenir helvetica bg-white">
    {% include nav.html %}

    <section class="tc pv3 pv4-ns bg-white mw8 center">
        <div class="w-100 pt5">
            <p class="f4 f3-ns tl mh0 mt2 mb1 mw6 dark-red ttu">
                Hello, I’m <strong>Marc</strong>
            </p>
            <h1 class="db dtc-ns f1 w-100">I write code</h1>
        </div>

        <main id="main-content" class="dt w-100 cf ph4 ph0-ns">
            <div class="db dtc-ns v-mid-ns w-100 f3 tl lh-title">
                {{content}}
            </div>
        </main>

    </section>

    {% include footer.html %}
</body>

</html>
