---
scripts:
    - "/js/bundle.js"
---
<!DOCTYPE html>
<html lang="en" itemtype="http://schema.org/Article">

{% include head.html %}

<body class="avenir helvetica bg-white">
    {% include nav.html %}

    <section class="tc pv3 pv4-ns ph3 ph3-m ph0-l bg-white mw8 center">
        <div class="w-100 pt2 pt3-l">
            <p class="f4 f3-l fw6 tl mt0 mb1 mw6 dark-red ttu">
                Hello, I’m Marc
            </p>
            <h1 class="db dtc-ns tl f2 f1-l mv0 w-100">I help developers to build their careers</h1>
        </div>

        <main id="main-content" class="dt w-100 cf ph0">
            <div class="db dtc-ns v-mid-ns w-100 f3 tl lh-title">
                {{content}}
            </div>
        </main>
    </section>

    {% include footer.html %}
</body>

</html>
