---
---
<!DOCTYPE html>
<html lang="en" itemtype="http://schema.org/Article">

{% include head.html %}

<body class="avenir helvetica bg-white">
    {% include nav.html %}

    <section class="tc pv3 pv4-ns bg-white mw8 center">
        <div class="w-100">
            <p class="f3 f2-ns tc mh2 mt2 mb4 mw6 center">
                Hello, I’m <strong>Marc Littlemore</strong>
            </p>
        </div>

        <main id="main-content" class="dt w-100 cf ph4 ph0-ns">
            <div class="db dtc-ns v-mid-ns w-100 w-40-ns">
                <img src="/images/me/marc-littlemore-512x512.jpg" class="br2 h5 w5 shadow-4" alt="avatar">
            </div>
        
            <div class="db dtc-ns v-mid-ns w-100 w-60-ns f3 lh-title">
                {{content}}
            </div>
        </main>

    </section>

    {% include footer.html %}
</body>

</html>
