---
scripts:
    - "/js/bundle.js"
hideSumo: yes
---

<!DOCTYPE html>
<html lang="en" itemtype="http://schema.org/Article">

{% include head.html %}

<body class="avenir">

{%- include ../_includes/social/facebookSDK.html -%}

<div class="bg-light-gray pb5">
    <div class="relative">
        <section class="flex items-center flex-wrap mw6 mw7-ns center pa3 ph5-ns tc cf">
            <div class="w-100 w-60-ns pa3-ns ">
                <h1 class="f2 fw5" style="color:#3B4446">{{ landingpage.subtitle | markdownify}}</h1>
            </div>
            <div class="w-100 w-40-ns pa3-ns">
                {% if socialImage %}
                    <img src="{{ site.url }}/{{ socialImage }}" class="w-100">
                {% else %}
                    <h1 class="f1 mb2">{{ landingpage.title }}</h1>
                {% endif %}
            </div>
        </section>
    </div>
</div>
<div class="tc relative">
    <section class="mw6 mw7-ns center pa3 ph5-ns mb2 nt5">
        {% include signUpForm.html %}
    </section>
</div>

<section class="mw7 center lh-copy pa3 ph5-ns f5 f4-ns pb5" style="color: #667477;">
    {{content}}

    <a href="#signup-form">
        <button class="f4 f3-ns f4-m link dim br3 bn pv3 mt3 dib bg-blue white w-100">
            {% if landingpage.button.icon %}<i class="fa {{landingpage.button.icon}}"></i>{% endif %}&nbsp;&nbsp;{{ landingpage.button.text }}
        </button>
    </a>
</section>

<div class="bg-near-white pt4 bt bw1 b--light-gray relative"></div>

</body>
</html>
