<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if description %}{{description}}{% elsif subtitle %}{{subtitle}}{% else %}{{ site.description }}{% endif %}">


    {%- if page.url == "/" -%}
    <title>{{title}}</title>
    {%- else -%}
    <title>{% if title %}{{ title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    {%- endif -%}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <link href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet" />
    
    <!-- Custom Fonts -->
    <script src="https://kit.fontawesome.com/d38990851e.js" crossorigin="anonymous"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% include favicons.html %}

    <meta name="p:domain_verify" content="7613bb2239e62b55de06dc926e1b6431"/>

    {% include social/googleTracking.html %}
    {% include social/socialMediaTags.html %}

    {% if scripts != 0 %}
        {% for script in scripts %}
            <script type="text/javascript" src="{{script}}" async></script>
        {% endfor %}
    {% endif %}

    {% include social/facebookPixel.html %}
</head>
