<main id="main-content">
  <div class="mw8 center pt2 tc">
      <h1 class="f3 f1-ns black fw6 mt1 mb1 ph1 pv0">
        {% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}
      </h1>
      {% if subtitle %}
        <h2 class="f3-ns f5 fw4 lh-copy gray mt1 mb2 ph1">{{ subtitle }}</h2>
      {% endif %}
  </div>

  <div class="mw8 center pt2 tc">
    <img class="w-100 br2 shadow-4" src="/{% if headerImage %}{{ headerImage }}{% else %}{{ site.headerImage }}{% endif %}" title="{{title}} - {{subtitle}}" alt="{{title}} - {{subtitle}}" />
  </div>

  <section class="mw8 pa3 mw8-ns ph5-ns center">
    <div class="roboto lh-copy f4-ns f5">
      {{ content }}
    </div>
  </section>
</main>
