@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	text-shadow: 0px 1px rgba(0,0,0,0.3);
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;	
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag {
	color: #f92672;
}

.token.boolean,
.token.number{
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string {
	color: #a6e22e;
}


.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value
{
	color: #e6db74;
}


.token.keyword{
color: #f92672;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

/* Embed plugin spacing */
.eleventy-plugin-youtube-embed,
.eleventy-plugin-embed-spotify,
.eleventy-plugin-embed-twitter,
.eleventy-plugin-vimeo-embed,
.eleventy-plugin-embed-soundcloud,
.eleventy-plugin-embed-tiktok,
.eleventy-plugin-embed-instagram,
.eleventy-plugin-embed-mastodon,
.eleventy-plugin-embed-bluesky {
	@apply my-6;
}

/* Pocket Casts link card */
.eleventy-plugin-embed-pocketcasts {
	@apply my-6 flex items-center gap-3 p-4 rounded-lg border border-slate-300 dark:border-slate-600 bg-slate-50 dark:bg-slate-800 no-underline transition-colors;
}

.eleventy-plugin-embed-pocketcasts:hover {
	@apply border-red-400 dark:border-red-500 bg-slate-100 dark:bg-slate-700;
}

.eleventy-plugin-embed-pocketcasts__icon {
	@apply text-red-500 flex-shrink-0;
}

.eleventy-plugin-embed-pocketcasts__text {
	@apply text-slate-700 dark:text-slate-200 font-medium;
}