---
---
<!DOCTYPE html>
<html lang="en" itemtype="http://schema.org/Article">

{% include head.html %}

<body class="avenir helvetica bg-white">
    {% include nav.html %}

    <header class="tc pv4 pv5-ns bg-light-gray bb b--moon-gray">
        <img src="/images/me/marc-littlemore-512x512.jpg" class="br-100 pa1 ba b--black-10 h4 w4" alt="avatar">
        <h1 class="f2 f2-ns fw6 dark-gray">{{ page.title }}</h1>
        <h2 class="f4 gray fw5 ttu tracked pa1 w-50-ns center">{{page.subtitle}}</h2>
    </header>

    <section class="mw8 pa3 mw8-ns ph5-ns center">
        <div class="roboto lh-copy">
            {{content}}
        </div>

    </section>

    {% include footer.html %}
</body>

</html>
