---
scripts:
    - "/js/bundle.min.js"
hideSumo: yes
---

<!DOCTYPE html>
<html lang="en" itemtype="http://schema.org/Article">

{% include head.html %}

<body class="avenir">
{% include social/facebookSDK.html %}

<div class="bg-light-gray pb5">
    <div class="relative">
        <section class="mw6 mw7-ns center pa3 ph5-ns tc">
            {% if page.social-img %}
                <img src="{{ site.url }}/{{ page.social-img }}" class="w-100 f5 measure">
            {% else %}
                <h1 class="f1 mb2">{{ page.landingpage.title }}</h1>
            {% endif %}
            <h2 class="f3 fw5 mt4" style="color:#3B4446">{{ page.landingpage.subtitle }}</h2>
        </section>
    </div>
</div>
<div class="tc relative">
    <section class="mw6 mw7-ns center pa3 ph5-ns mb2 nt5">
        {% include signUpForm.html landingpage=page.landingpage %}
    </section>
</div>

<section class="mw7 center lh-copy pa3 ph5-ns f5 f4-ns pb6" style="color: #667477;">
    {{content}}
</section>

<div class="bg-near-white pt4 bt bw1 b--light-gray relative">
    <section class="mw6 mw7-ns center pa3 ph5-ns mb2 nt6">
        {% include signUpForm.html landingpage=page.landingpage %}
    </section>
</div>

</body>
</html>
