---
layout: landingpage-default
scripts:
    - "/js/bundle.min.js"
---

<h3 id="timer" class="f3 dark-gray tc">05:00</h3>
<div class="bg-light-gray br-pill h2 overflow-y-hidden dn db-ns">
    <div id="progressTimer" class="bg-blue br-pill h2 w-third" style="width:100%;"></div>
    <span class="sr-only dn" id="progressBarScreenReader">0% Complete</span>
</div>

<div class="dt dt--fixed mv3 b--light-gray br2 b--solid">
    <div class="dtc tc pv2 bg-light-gray helvetica">
        <h4 class="f5 f4-ns silver ttu">Step 1</h4>
        <p><i class="fa fa-3x fa-check silver"></i></p>
        <p class="fw5 fw8-ns ttu silver">Completed!</p>
    </div>
    <div class="dtc tc pv2 bg-white pa3">
        <h4 class="f5 f4-ns dark-gray ttu">Step 2</h4>
        <p><i class="fa fa-3x fa-envelope text-primary blue"></i></p>
        <p class="fw5 fw8-ns dark-gray">Go to your inbox and click the confirmation link I just emailed you.</p>
    </div>
    <div class="dtc tc pv2 bg-light-gray pa3">
        <h4 class="f5 f4-ns silver ttu">Step 3</h4>
        <p><i class="fa fa-3x fa-cloud-download silver"></i></p>
        <p class="fw5 fw8-ns silver">You'll get instant access to my course.</p>
    </div>
</div>

