---
hideSumo: yes
stylesheets:
    - "/css/landingpage.css"
---
<!DOCTYPE html>
<html lang="en" itemtype="http://schema.org/Article">

{% include head.html %}

<body class="fullscreen landing" style="background-image:url({{ page.images.background }});">

    {% include social/facebookSDK.html %}

    <div class="overlay">
        <div class="container">
            <div class="row">
                {% if page.formData or page.sharing %}
                <div class="col-md-7">
                {% else %}
                <div class="col-md-12">
                {% endif %}

                    <div class="logo">
                    <img src="/images/landingpages/dev-school-logo.png" alt="logo">
                    </div>

                    <h1>{{ page.title }}</h1>

                    <div class="landing-text">
                        {{ content }}
                    </div>
                </div>

                {% if page.formData %}
                    <div class="col-md-5">
                        {% include signUpForm.html formData=page.formData %}
                    </div>
                {% elsif page.sharing %}
                    <div class="col-md-5">
                        {% include sharing.html sharing =page.sharing %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
