---
layout: default
---

<style>
.hero {
    background: no-repeat center center;
    background-size: cover;
}
</style>

<div class="hero" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}');">
    <div class="pv6-ns pa5 tc-ns tc">
        <h1 class="f1-ns f3 lh-title dib ph4 pv2 white bg-black-80">
            {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
        </h1>
    </div>
</div>

<section class="mw8 pa3 mw8-ns ph5-ns center">
    {% if page.subtitle %}
       <p class="f2 lh-copy">{{page.subtitle}}</p>
    {% endif %}

    <div class="roboto lh-copy">
        {{content}}
    </div>

    <div id="comments">
        {% include social/disqusComments.html %}
    </div>
</section>
