<div class="{{theme.authorCard.background}} {{theme.authorCard.text.main}} max-w-screen-lg mx-auto w-full py-4 sm:py-8 shadow-md flex flex-col sm:flex-row justify-center items-center my-4">
    <div class="w-full sm:w-1/3 flex justify-center">
        {% capture gravatarImageUrl %}{% gravatar site.author.email 150 %}{% endcapture %}
        <img class="{{theme.authorCard.image}} px-1 py-1 mx-4 my-4 rounded-full w-32 h-32 shadow-lg" src="{{gravatarImageUrl}}" title="Marc Littlemore" alt="Marc Littlemore avatar" />
    </div>
    <div class="w-full sm:w-2/3 text-xl font-medium flex flex-col justify-center space-y-4 px-4 pt-4 sm:pt-0">
        <p><strong>I'm Marc Littlemore.</strong></p>
        <p>I’m a <strong>Software Engineering Manager</strong> who works with high performing development teams and loves to help to grow other software leaders and engineers.</p>
        <p>Want to learn more about technical leadership and intentional remote working to grow your career?</p>
        <p>👉🏻 You should sign up for my <a href="/newsletter/" title="Sign up for my newsletter" alt="Newsletter sign up" class="{{theme.card.text.link}}">weekly newsletter</a> here.</p>
    </div>
</div>
