<div class="px-0 sm:px-4 py-4 w-full sm:w-1/2 flex">
  <div class="{{theme.card.background}} shadow-md rounded-md w-full flex flex-col">
      <a class="hover:opacity-80" href="{{url}}" title="{{title}}" alt="{{title}}">
        {% image image title "rounded-t-md h-52 w-full inset-0 object-cover" %}
      </a>
      <div class="flex-auto p-6">
        <div class="flex flex-wrap">
          <h2 class="flex-auto text-2xl font-bold uppercase">
            <a class="{{theme.card.text.link}}" href="{{url}}" title="{{title}}" alt="{{title}}">{{title}}</a>
          </h2>
          <div class="{{theme.card.text.content}} w-full flex-none text-lg font-normal mt-2">
              <p>{{text}}</p>
          </div>
        </div>
        <div class="flex text-base font-medium uppercase">
            <a class="{{theme.card.text.link}} w-1/2 flex rounded-md py-4" href="{{url}}" title="{{title}}" alt="Read post link">Read more</a>
        </div>
      </div>
  </div>
</div>
