<footer class="pv4 ph3 ph5-ns tc bg-white bt b--moon-gray">
{% assign socialMediaKeys = socialMedia | keys %}
{% for socialMediaKey in socialMediaKeys %}
    {% assign socialItem = socialMedia[socialMediaKey] %}
    {% if socialItem.external %}
    <a href="{{ socialItem.url }}" target="_blank" rel="me noreferrer" title="{{ socialItem.title }}" class="link dark-gray hover-silver dib h3 w3 h2-ns w2-ns mr2 mr3-ns" aria-label="{{socialItem.name}} icon">
    {% else %}
    <a href="{{ socialItem.url }}" title="{{ socialItem.title }}" class="link dark-gray hover-silver dib h3 w3 h2-ns w2-ns mr2 mr3-ns" aria-label="{{socialItem.name}} icon">
    {% endif %}
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa {{socialItem.icon}} fa-stack-1x fa-inverse"></i>
        </span>
    </a>
{% endfor %}

  <div class="mt4 ttu">
    {% for menuItem in footerMenu %}
        <a href="{{menuItem.url}}" class="f6 fw5 link underline-hover near-black dib mr3 mr4-ns">{{menuItem.name}}</a>
    {% endfor %}
  </div>
  <div class="mt4 dark-gray f6 fw6 ttu">
      Copyright &copy; 2007-{{"now" | date: "%Y"}} {{ site.title }} {{ site.time | date: '%Y' }}
  </div>
</footer>
