<header class="mx-auto text-xl max-w-6xl uppercase">
    <nav class="text-gray-900 space-x-4 text-center" id="navLinksWeb">
        {% for menuItem in mainMenu %}
            {% if page.url contains menuItem.url and
                menuItem.url != "/" or page.url == "/" and menuItem.url == "/" or tags contains menuItem.tag %}        
                <a class="border-b-4 border-red-500 py-1 font-semibold" href="{{ menuItem.url }}" title="{{ menuItem.title }}">{{ menuItem.name }}</a>
            {% else %}
                <a class="font-medium border-b-4 border-white py-1 hover:border-red-500 hover:text-gray-500" href="{{ menuItem.url }}" title="{{ menuItem.title }}">{{ menuItem.name }}</a>
            {% endif %}
        {% endfor %}
    </nav>
    <nav class="text-gray-900 space-x-4 text-center" id="navLinksMobile">
        <div class="flex flex-col justify-center items-center">
            <i class="fa fa-2x fa-bars w-16" aria-hidden="true" id="displayNavButton"></i>
            {% for menuItem in mainMenu %}
                {% if page.url contains menuItem.url and
                    menuItem.url != "/" or page.url == "/" and menuItem.url == "/" or tags contains menuItem.tag %}        
                    <a class="w-24 border-b-4 border-red-500 py-1 font-semibold" href="{{ menuItem.url }}" title="{{ menuItem.title }}">{{ menuItem.name }}</a>
                {% else %}
                    <a class="w-24 inline-block font-medium border-b-4 border-white py-1 hover:border-red-500 hover:text-gray-500" href="{{ menuItem.url }}" title="{{ menuItem.title }}">{{ menuItem.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </nav>
</header>
