<main id="main-content" class="flex flex-col justify-center items-center max-w-screen-lg mx-auto pt-4 pb-8">
  <div class="text-center">
      <h1 class="font-bold text-5xl text-gray-900 py-4">
        {% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}
      </h1>
      {% if subtitle %}
        <h2 class="font-normal text-3xl text-gray-600 pb-4">{{ subtitle }}</h2>
      {% endif %}
  </div>

  <div class="py-4">
    <figure>
      {% capture imageTitle %}{{title}}{% if subtitle %} - {{subtitle}}{% endif %}{% endcapture %}
      {% if headerImage %}
        {% image headerImage imageTitle "rounded-lg shadow-lg" %}
      {% else %}
        {% image site.headerImage imageTitle "rounded-lg shadow-lg" %}
      {% endif %}

      {% if image %}
      <figcaption class="py-2 text-center">
        <a href="{{image.source}}" title="Image by {{image.creator}}" class="underline" target="_blank" rel="noreferrer">Original image</a> by <a href="{{image.url}}" title="{{image.creator}}" class="underline" target="_blank" rel="noreferrer">{{image.creator}}</a>
      </figcaption>
      {% endif %}
    </figure>
  </div>

  {% if tags contains 'post' %}
  <div class="text-slate-700 font-sm py-4 w-full mx-auto max-w-sm text-center space-y-2">
    <div class="text-lg md:text-xl font-medium">
      Published on <time datetime="{{page.date | date: '%Y-%m-%d'}}">{{page.date | date: "%B %e, %Y"}}</time>
    </div>
    <div class="text-lg md:text-xl text-slate-600 space-x-2">
      <i class="fa fa-hourglass text-slate-600"></i><span class="italic">{{ content | timeToRead }} read</span>
    </div>
  </div>
  {% endif %}

  {% if tableOfContents %}
  {% if content | toc %}
  <div class="w-full mx-auto bg-blue-50 text-lg border border-blue-100 shadow-sm prose prose-xl rounded-md prose-li:list-disc prose-a:underline">
    <div class="p-4 space-x-2 text-xl font-semibold">
      What's in this article
    </div>
    {{content | toc}}
  </div>
  {% endif %}
  {% endif %}


  {{ content }}
  
  {% include partials/webmentions.html %}
</main>
