<main id="main-content" class="flex flex-col justify-center items-center max-w-screen-lg mx-auto pt-4 pb-8">
  <div class="text-center">
      <h1 class="font-bold text-5xl text-gray-900 py-4">
        {% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}
      </h1>
      {% if subtitle %}
        <h2 class="font-normal text-3xl text-gray-600 pb-4">{{ subtitle }}</h2>
      {% endif %}
  </div>

  <div class="py-4">
    <figure>
      {% capture imageTitle %}{{title}}{% if subtitle %} - {{subtitle}}{% endif %}{% endcapture %}
      {% if headerImage %}
        {% image headerImage imageTitle "rounded-lg shadow-lg" %}
      {% else %}
        {% image site.headerImage imageTitle "rounded-lg shadow-lg" %}
      {% endif %}

      {% if image %}
      <figcaption class="py-2 text-center">
        <a href="{{image.source}}" title="Image by {{image.creator}}" class="underline" target="_blank" rel="noreferrer">Original image</a> by <a href="{{image.url}}" title="{{image.creator}}" class="underline" target="_blank" rel="noreferrer">{{image.creator}}</a>
      </figcaption>
      {% endif %}
    </figure>
  </div>

  {% if tags contains 'post' %}
  <div class="text-slate-700 font-sm py-4 w-full mx-auto max-w-lg text-center space-y-2">
    <div class="text-lg md:text-xl font-medium space-x-1">
      {% if author and author.name %}
      <span>By {{author.name}}</span>
      {% else %}
      <span>By {{site.author.name}}</span>
      {% endif %}
      <span>&bull;</span>
      <span><time datetime="{{page.date | date: '%Y-%m-%d'}}">{{page.date | date: "%B %e, %Y"}}</time></span>
      <span>&bull;</span>
      <span>{{ content | timeToRead }} read</span>
    </div>
  </div>
  {% endif %}

  {% if tableOfContents %}
  {% assign tocContents = content | toc %}
  {% if tocContents != ""  %}
  <div class="w-full mx-auto bg-blue-50 text-lg border border-blue-100 shadow-sm prose prose-xl rounded-md prose-li:list-disc prose-a:underline my-0 lg:my-8">
    <div class="p-4 space-x-2 text-xl font-semibold">
      <svg class="h-6 w-6 inline" viewBox="0 0 512 512"><path d="M88 56H40a16 16 0 00-16 16v48a16 16 0 0016 16h48a16 16 0 0016-16V72a16 16 0 00-16-16zm0 160H40a16 16 0 00-16 16v48a16 16 0 0016 16h48a16 16 0 0016-16v-48a16 16 0 00-16-16zm0 160H40a16 16 0 00-16 16v48a16 16 0 0016 16h48a16 16 0 0016-16v-48a16 16 0 00-16-16zm416 24H168a8 8 0 00-8 8v16a8 8 0 008 8h336a8 8 0 008-8v-16a8 8 0 00-8-8zm0-320H168a8 8 0 00-8 8v16a8 8 0 008 8h336a8 8 0 008-8V88a8 8 0 00-8-8zm0 160H168a8 8 0 00-8 8v16a8 8 0 008 8h336a8 8 0 008-8v-16a8 8 0 00-8-8z"></path></svg>
      <span>What's in this article?</span>
    </div>
    {{tocContents}}
  </div>
  {% endif %}
  {% endif %}

  {{ content }}
  
  {% include partials/webmentions.html %}

  {% if tags contains 'post' %}
    {% assign tag = tags[0] %}
    {% if tag == 'post' %}
      {% assign tag = tags[1] %}
    {% endif %}
    {%- if tags and tags[1] -%}
    {%- capture url -%}/topics/{{tags[1]}}/{%- endcapture -%}
    {%- endif -%}
    {%- if topics[tag].url -%}
    {%- assign url = topics[tag].url -%}
    {%- endif -%}
    {% assign tagCollection = collections[tag] | collectionWithoutUrls: page.url | reverse | limitCollection: 3 %}
    {% include partials/taggedCollection.html collectionTitle: "Want to read more?" collection: tagCollection url: url %}
  {% endif %}
</main>
