<main id="main-content" class="flex flex-col justify-center items-center max-w-screen-xl mx-auto pt-4 pb-8">
  <div class="text-center max-w-3xl">
    {% if title %}
      <h1 class="{{theme.page.text.title}} font-bold text-5xl py-4">
          {{ title }}
      </h1>
      {% endif %}
      {% if subtitle %}
        <h2 class="{{theme.page.text.subtitle}} font-normal text-3xl pb-4">{{ subtitle }}</h2>
      {% endif %}
  </div>

  {% unless hideImage %}
  <div class="py-4">
    <figure>
      {% capture imageTitle %}{{title}}{% if subtitle %} - {{subtitle}}{% endif %}{% endcapture %}
      {% if headerImage %}
        <img src="{{headerImage}}" alt="{{imageTitle}}" class="rounded-lg shadow-lg">
      {% endif %}

      {% if image %}
      <figcaption class="py-2 text-center">
        <a href="{{image.source}}" title="Image by {{image.creator}}" class="underline" target="_blank" rel="noreferrer">Original image</a> by <a href="{{image.url}}" title="{{image.creator}}" class="underline" target="_blank" rel="noreferrer">{{image.creator}}</a>
      </figcaption>
      {% endif %}
    </figure>
  </div>
  {% endunless %}

  {% if tags contains 'post' %}
  <div class="{{theme.page.metadata.text}} font-sm py-4 w-full mx-auto max-w-lg text-center space-y-2">
    <div class="text-lg md:text-xl font-medium space-x-1">
      {% if author and author.name %}
      <div>By {{author.name}}</div>
      {% else %}
      <div>By {{site.author.name}}</div>
      {% endif %}
      <div>
        <span>
          {%- assign renderedDate = page.date -%}
          {%- if updatedDate -%}
            {%- assign renderedDate = updatedDate -%}
          {%- endif -%}
          <time datetime="{{renderedDate | date: '%Y-%m-%d'}}">{{renderedDate | date: "%B %e, %Y"}}</time>
        </span>
        <span>&bull;</span>
        <span>{{ content | timeToRead }} read</span>
      </div>
    </div>
  </div>
  {% endif %}

  {% if tableOfContents %}
  {% assign tocContents = content | toc %}
  {% endif %}

  {% if hasSidebar and tocContents != "" %}
  <section id="mainContent" class="w-full grid grid-cols-1 md:grid-cols-4">
    <div id="sidebar" class="col-span-1 md:col-span-1 px-0 md:pr-8">
      <section id="tableOfContents" class="w-full sticky top-0">
        <div class="w-full mx-auto {{theme.page.tableOfContents.background}} text-lg prose prose-xl rounded-md prose-li:list-disc prose-a:underline my-4 md:my-0 px-2 py-2">
          <div class="p-4 space-x-2 text-xl font-semibold">
            <svg class="h-6 w-6 inline" viewBox="0 0 512 512"><path d="M88 56H40a16 16 0 00-16 16v48a16 16 0 0016 16h48a16 16 0 0016-16V72a16 16 0 00-16-16zm0 160H40a16 16 0 00-16 16v48a16 16 0 0016 16h48a16 16 0 0016-16v-48a16 16 0 00-16-16zm0 160H40a16 16 0 00-16 16v48a16 16 0 0016 16h48a16 16 0 0016-16v-48a16 16 0 00-16-16zm416 24H168a8 8 0 00-8 8v16a8 8 0 008 8h336a8 8 0 008-8v-16a8 8 0 00-8-8zm0-320H168a8 8 0 00-8 8v16a8 8 0 008 8h336a8 8 0 008-8V88a8 8 0 00-8-8zm0 160H168a8 8 0 00-8 8v16a8 8 0 008 8h336a8 8 0 008-8v-16a8 8 0 00-8-8z"></path></svg>
            <span>Table of contents</span>
          </div>
          {{tocContents}}
        </div>
      </section>
    </div>
    <div class="col-span-1 md:col-span-3 px-0 md:px-2" id="textContent">
      <section class="py-4 w-full mx-auto">
        <div class="prose prose-xl w-full max-w-none">
            {{ content }}
        </div>
      </section>
    </div>
  </section>
  {% else %}
  <div class="w-full" id="textContent">
    <section class="py-4 w-full mx-auto">
      <div class="prose prose-xl w-full max-w-none">
          {{ content }}
      </div>
    </section>
</div>
  {% endif %}

  {% if showAuthor %}
  <section id="author">
    {% include partials/author.html %}
  </section>
  {% endif %}

  {% if showWebmentions %}
  {% include partials/webmentions.html %}
  {% endif %}

  {% if showMoreArticles %}
  {% if tags contains 'post' %}
    {% assign tag = tags[0] %}
    {% if tag == 'post' %}
      {% assign tag = tags[1] %}
    {% endif %}
    {%- if tags and tags[1] -%}
    {%- capture url -%}/topics/{{tags[1]}}/{%- endcapture -%}
    {%- endif -%}
    {%- if topics[tag].url -%}
    {%- assign url = topics[tag].url -%}
    {%- endif -%}
    {% assign tagCollection = collections[tag] | collectionWithoutUrls: page.url | reverse | limitCollection: 4 %}
    {% include partials/taggedCollection.html collectionTitle: "Want to read more?" collection: tagCollection url: url %}
  {% endif %}
  {% endif %}

</main>
