<div id="signup-form" class="bg-white shadow-none md:shadow-xl rounded-sm px-8 py-8 flex flex-col justify-center items-center">
    <h3 class="font-semibold text-2xl text-gray-800 mb-8 text-center">
        {{landingpage.signup.title | markdownify}}
    </h3>

    <form action="//{{ landingpage.signup.listname }}.us1.list-manage.com/subscribe/post?u={{landingpage.signup.uuid}}&amp;id={{landingpage.signup.lid}}" role="form" method="POST" id="mailChimpSignupForm">
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="{{ landingpage.signup.botValue }}" tabindex="-1" value="">
        </div>

        <div class="w-full flex flex-col justify-center space-y-4">
            <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" name="FNAME" type="text" placeholder="First name" required />
            <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" name="EMAIL" type="email" placeholder="Email address" required />
            <button type="submit" class="mt-8 bg-blue-600 hover:bg-blue-800 text-white font-bold text-xl py-4 px-8 rounded space-x-4">
                {% if landingpage.button.icon %}<i class="fa {{landingpage.button.icon}}"></i>{% endif %}<span>{{ landingpage.button.text }}</span>
            </button>
            <div class="text-gray-500 italic text-base space-x-2">
                <i class="fa fa-lock"></i><span>I hate spam as much as you do: your email address will <strong>never</strong> be shared.</span>
            </div>
            {%- edge -%}
            {%- assign signupKey = eleventy.edge.query.signup | default: "none" -%}
            <input type="hidden" name="SIGNUP" value="{{signupKey}}">
            {%- endedge -%}
        </div>

    </form>
</div>
