<div id="signup-form" class="pv1 ph3 shadow-4 {{landingpage.background-colour}}">
    <h3 class="tc f3 fw4">{{landingpage.signup.title | markdownify}}</h3>

    <form action="//{{ landingpage.signup.listname }}.us1.list-manage.com/subscribe/post?u={{landingpage.signup.uuid}}&amp;id={{landingpage.signup.lid}}" role="form" method="POST" id="mailChimpSignupForm">
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="{{ landingpage.signup.botValue }}" tabindex="-1" value="">
        </div>

        <div class="measure-wide center mb">
            <input class="input-reset ba b--black-20 pa2 mb2 db w-100" name="FNAME" type="text" placeholder="First name" required />
            <input class="input-reset ba b--black-20 pa2 mb2 db w-100" name="EMAIL" type="email" placeholder="Email address" required />
            <button type="submit" class="f4 f3-ns f4-m link dim br3 bn pv3 mt3 dib bg-blue white w-100">
                {% if landingpage.button.icon %}<i class="fa {{landingpage.button.icon}}"></i>{% endif %}&nbsp;&nbsp;{{ landingpage.button.text }}
            </button>
            </div>

        <div class="tc gray f6">{{landingpage.signup.privacy | markdownify}}</div>
    </form>
</div>
