{%- if collection.length > 0 -%}
<section class="prose prose-xl space-y-2 prose-a:no-underline w-full mx-auto max-w-none">
    <div class="flex items-baseline justify-between">
        {%- if collectionTitle -%}
        <h3 class="col-span-2">{{collectionTitle}}</h3>
        {%- endif -%}
        {%- if url -%}
        <div class="col-span-1">
            <a class="{{theme.card.text.link}}" href="{{url}}" title="Explore more">Explore more &rarr;</a>
        </div>
        {%- endif -%}
    </div>
    <div class="grid gap-y-4">
        {%- if collectionText -%}
            <div class="grid col-span-1">
            {{collectionText}}
            </div>
        {%- endif -%}

        <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
            {%- assign sortedCollection = collection -%}
            {%- for article in sortedCollection -%}
            <a class="block transition transform hover:-translate-y-4" href="{{article.url}}" >
            <div class="group">
                {%- if article.data.headerImage -%}
                <img src="{{article.data.headerImage}}" alt="{{article.data.title}}" class="rounded-md object-cover h-48" width="300">
                {%- endif -%}
                <div class="px-0 lg:px-2">
                    <h4 class="{{theme.card.text.groupLink}}">{{article.data.title}}</h4>
                    <p class="{{theme.card.text.content}}">{{article.data.description}}</p>
                </div>
            </div>
            </a>
            {%- endfor -%}
        </div>
    </div>
</section>
{%- endif -%}
